.media {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
  height: 100%;

  .mediaInfo {
    font-size: 1.2em;
    // font-weight: bold;
    color: var(--color-text-primary);
    align-self: center;
    margin-left: 0.2em;
  }

  .mediaControl {
    font-size: 1.5em;
    z-index: 100;

    .controlIcon {
      color: var(--color-text-primary);
    }

    .playing {
      margin-left: 0.1em;
    }

    > div {
      width: 1.48em;
    }
  }
}
