.media {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;

  .mediaInfo {
    font-size: 1.2em;
    // font-weight: bold;
    color: var(--color-text-primary);
    align-self: center;
  }

  .mediaControl {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-text-primary);
    margin-right: 0.3em;
  }
}
