@import "./_variables.scss";

@mixin barItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $bar-item-height;
  font-size: $bar-item-font-size;
  padding: $bar-item-padding;
  border-radius: $bar-item-border-radius;
  box-sizing: border-box;
  background-color: var(--color-bg-light);
  color: var(--color-text-primary);
}

.network {
  @include barItem;
  padding: 0;
  background-color: transparent;

  > div:first-child {
    color: var(--color-accent-primary);
  }
}

.date {
  @include barItem;
  margin: 0 0.6em;
  padding: 0 1.5em;

  > *:first-child {
    > p:nth-child(1) {
      &::after {
        content: "·";
        font-weight: bold;
        margin: 0 0.1em;
      }
    }
  }

  .battery {
    margin-left: 1em;
  }
}

.memory {
  @include barItem;
  margin-left: 0.6em;
}

.cpu {
  @include barItem;
  margin-left: 0.6em;
}

.workspace {
  @include barItem;
  height: 60%;
  padding: 0 1.2em;
}

.media:empty {
  display: none;
}

.media {
  @include barItem;
  flex: 1;
  max-width: 100%;
  margin-right: 0.6em;
}

.hostname {
  margin-left: 0.2em;
  max-width: 98%;
}
