.barItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  font-size: 0.7rem;
  padding: 0 0.6em;
  border-radius: 1em;
  box-sizing: border-box;
  background-color: var(--color-bg-light);
  color: var(--color-text-primary);
}

.network {
  @extend .barItem;
  position: absolute;
  right: 1.5%;
  background-color: transparent;

  > div:first-child {
    color: var(--color-accent-primary);
  }
}

.date {
  @extend .barItem;
  margin: 0 0.6em;

  > *:first-child {
    > p:nth-child(1) {
      &::after {
        content: "·";
        font-weight: bold;
        margin: 0 0.1em;
      }
    }
  }

  .battery {
    margin-left: 1em;
  }
}

.memory {
  @extend .barItem;
  margin-left: 0.6em;
}

.cpu {
  @extend .barItem;
  margin-left: 0.6em;
}
